.heroclass
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroclass .imageBackground
{
    width: calc(100%);
    height: 600px;
    background-image: url('../images/new5.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
.headercontent
{
    margin: 180px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headercontent p
{
    width: calc(150px);
    height: 3px;
    background-color: var(--font-color);
}

.headercontent h2
{
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    color: var(--font-color);
}
.headercontent h2 span
{
    color: rgb(14, 117, 78);
}
.headersecondcontent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headersecondcontent h1
{
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 54px;
    text-align: center;
}
.headersecondcontent h1 span
{
    color: rgb(14, 117, 78);
}

.headersecondcontent p
{
    width: calc(350px);
    font-size: larger;
    text-align: justify;
    color: var(--font-color);
}

.btn-hero
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hero .Herobtn
{
    background-color: var(--btnColor);
    padding: 10px;
}

.btn-hero .Herobtn a
{
    color: var(--font-color);
    text-decoration: none;
}
.btn-hero .Herobtn:hover
{
    box-shadow: 1px 2px 8px var(--font-color);
}

.fixedcontact-icon
{
    position: fixed;
    right: 2%;
    bottom: 7%;
    width: calc(50px);
    height: calc(50px);
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}
.fixedcontact-icon img
{
    width: calc(100%);
    height: calc(100%);
}

@media (max-width:409.98px) 
{
    .heroclass .imageBackground .headercontent h2
    {
        font-size: 28px;
    }
    .headersecondcontent h1
    {
        font-size: 26px;
    }
    p
    {
        font-size: 15px !important;
        margin-bottom: 10px;
    }
}