.service-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.flexcontainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 0 60px 30px 60px;
    background-color: rgb(197, 231, 175);
    padding: 10px;
    border-radius: 4px;
}
.newcontainer
{
    display: flex;
    align-items: normal;
    gap: 20px;
    width: calc(350px);
    border-left: 2px solid white;
    padding: 0 20px;
}

.newcontainer img
{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.contents h2
{
    margin-bottom: 20px;
}

.contents
{
    text-align: justify;
    line-height: 30px;
    margin-bottom: 20px;
}